

label{
    position: relative;
    left: 100px;
    top: 100px;
}

.check{
    display: none;
}

.btn{
    display: inline-block;
    height: 60px;
    width: 120px;
    background: #333;
    border-radius: 50px;
    transition: background 0.5s ease;
}

.btn::before{
    content: "";
    position: absolute;
    height: 50px;
    width: 50px;
    background: #aaa; 
    top: -41px;
    left: 5px;
    border-radius: 40px;    
    transition: all 0.5s ease;
}

.btn::after{
    content: "off";
    position: absolute;
    height: 50px;
    width: 50px;
    top: -41px;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    left: 65px;
    color: white;    
    transition: left 0.5s ease;
}

.check:checked + .btn{
    background: #b1b1b1;
}

.check:checked + .btn::before{
    background: #0283fc;
    left: 65px;
}

.check:checked + .btn::after{
    left: 5px;
    content: "on";
}