.spinner{
    width: 100px;
    height: 100px;
    border: 5px solid #aaa;
    border-radius: 50%;
    position: relative;
    margin: 150px;
    display: inline-block;
    animation: spin 1s linear infinite;
}


.spinner:before{
    content: "";
    height: 30px;
    width: 30px;
    background: green;
    border-radius: 50%;
    position: absolute;
    top: 35px;
    left: 35px;
}
.spinner:after{
    content: "";
    height: 20px;
    width: 20px;
    background: #000;
    border-radius: 50%;
    position: absolute;
    top: 5px;
}
@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
