.container{
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 20px solid black;
}
.box{
    height: 100%;
    background: #aaa;
    transform-origin: bottom right;
    transition: transform 0.5s;
    pointer-events: none;
}

.container:hover .box{
    
    transform: rotate(60deg);
}